@import url('https://fonts.googleapis.com/css?family=Charm&display=swap');

.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

/* font-family: 'Charm', cursive; */
.li-referenciado {
  margin-bottom: 2rem;
}

.caption-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frase {
  font-family: 'Charm', cursive;
  font-size: 1.5rem;
}

hr {
  margin: 3rem auto;
  border: dotted #f37d33 6px;
  border-bottom: none;
  width: 10%;
}

/* colores */

.bg-azul1 {
  background-color: #5090dd;
}

.bg-azul2 {
  background-color: #117cf0;
}

.bg-naranja {
  background-color: #f37d33;
}

.azul1 {
  color: #5090dd;
}

.azul2 {
  color: #117cf0;
}

.naranja {
  color: #f37d33;
}

/*
f37d33 naranja
5090dd azul 1
117cf0 azul 2
*/

.contacto {
  padding: 3% 12%;
}

/* navbar */

.logo {
  max-width: 3rem;
}

/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel {
  background: #007aeb;
}

/*
  Forces image to be 100% width and not max width of 100%
  */
.carousel-item .img-fluid {
  width: 100%;
}

/* 
  anchors are inline so you need ot make them block to go full width
  */
.carousel-item a {
  display: block;
  width: 100%;
}

/* Ligas dentro de button */
.nounderline {
  text-decoration: none !important
}

.brightness-70 {
  filter: brightness(70%);
}

/*Video*/
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.galeria p {
  background-color: #f37d33;
  color: white;
  font-weight: bold;
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin: 0;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  filter: opacity(85%);
}

a.categoria {

  display: inline-block;
  box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
  border: 1px solid whitesmoke;
  position: relative;
  transition: all 200ms linear;
  background-size: cover;
  background-position: center center;
}

.img-categoria {
  height: 250px;
  width: 100%;
}

a.categoria:hover {
  box-shadow: 0 0px 10px #117cf0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* apps flotantes whatsapp y facebook */

.whatsapp {
  position: fixed;
  right: 10px;
  bottom: 80px;
  width: 60px;
  z-index: 1000;
}

.whatsapp img {
  width: 100%;
  height: auto;
}

.facebook {
  position: fixed;
  left: 10px;
  bottom: 80px;
  width: 60px;
  z-index: 1000;
}

.facebook img {
  width: 80%;
  height: auto;
}

/* margenes */

.mt-5rem {
  margin-top: 5rem;
}

.mb-5rem {
  margin-bottom: 5rem;
}

.mt-4-5rem {
  margin-top: 4.5rem;
}

/* Avatars */

.avatar {
  max-width: 250px;
  border-radius: 100%;
}

/* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .avatar {
    max-width: 2250px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .avatar {
    max-width: 210px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .avatar {
    max-width: 180px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .avatar {
    max-width: 150px;
  }
}